 
.black { 
	font-family:Verdana,Arial,Helvetica,sans-serif; 
    font-size:12px;
	margin:3px; 
	padding:0px; 
	text-align:center; 	
	} 
.black a { 
	border:1px solid #000; 
	color: #630; 
	margin:2px; 
	padding:2px 5px; 
	text-decoration:none; 
	} 
.black a:hover { 
	background: #F63; 
	border:1px solid #000; 
	color:#FFFFFF; 
	} 
.black span.current { 
	background: #669999; 
	border:1px solid #000; 
	color: #FFF; 
	font-weight:bold; 
	margin:2px; 
	padding:2px 5px; 
	} 
.black span.disabled {  
	border:1px solid #EEE; 
	color:#DDD; 
	margin:2px; 
	padding:2px 5px; 
	} 