<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="main.dao.basic.GoodsDao">
	
	<sql id="sql_select">
		select * from goods      
	</sql>
	
	<sql id="sql_cols">
		id,goodsId,shopId,name,title,logo,logoThumb,imageList,thumbList,
		curPrice,prePrice,tags,details,sortId,stock,type,status,createTime
	</sql>
	
	<sql id="sql_cols_value">
		#{id},#{goodsId},#{shopId},#{name},#{title},#{logo},#{logoThumb},#{imageList},#{thumbList}
		#{curPrice},#{prePrice},#{tags},#{details},#{sortId},#{stock},#{type},#{status},#{createTime}
	</sql>
	
	<!-- 根据ID加载对应商品 -->
	<select id="loadById" resultType="goodsBean">
		<include refid="sql_select"/> 
			where id = #{id};
	</select>
	
	<!-- 根据商品ID加载对应商品 -->
	<select id="loadByGoodsId" resultType="goodsBean">
		<include refid="sql_select"/> 
			where goodsid = #{goodsId};
	</select>
	
	<!-- 加载所有商品 -->
	<select id="loadAllGoods" resultType="goodsBean">
		<include refid="sql_select"/> 
			order by id desc 
			limit #{index},#{size};
	</select>
	
	<!-- 加载所有商品,加入查询条件 -->
	<select id="loadAllGoods_search" resultType="goodsBean">
		<include refid="sql_select"/> 
			where (goodsId like "%"#{searchContent}"%" or name like "%"#{searchContent}"%")
			order by id desc 
			limit #{index},#{size};
	</select>
	
	<!-- 加载所有对应类别的商品,加入查询条件 -->
	<select id="loadAllGoodsBySort_search" resultType="goodsBean">
		<include refid="sql_select"/> 
			where (sortId=#{sortId} or sortId in (select id from sort where pid=#{sortPid}))
			and (goodsId like "%"#{searchContent}"%" or name like "%"#{searchContent}"%")
			order by id desc 
			limit #{index},#{size};
	</select>
	
	<!-- 加载所有对应店铺的商品,加入查询条件 -->
	<select id="loadAllGoodsByShop_search" resultType="goodsBean">
		<include refid="sql_select"/> 
			where shopId=#{shopId}
			and (goodsId like "%"#{searchContent}"%" or name like "%"#{searchContent}"%")
			order by id desc 
			limit #{index},#{size};
	</select>
	
	<!-- 加载所有对应店铺和类别的商品,加入查询条件 -->
	<select id="loadAllGoodsByShopAndSort_search" resultType="goodsBean">
		<include refid="sql_select"/> 
			where shopId=#{shopId}
			and (sortId=#{sortId} or sortId in (select id from sort where pid=#{sortPid}))
			and (goodsId like "%"#{searchContent}"%" or name like "%"#{searchContent}"%")
			order by id desc 
			limit #{index},#{size};
	</select>
	
	<!-- 查询表的数据总数量 -->
	<select id="count" resultType="int">
		select COUNT(*) from goods;
	</select>
	
	<!-- 插入列表数据 -->
	<insert id="save" parameterType="goodsBean">
		insert into goods(<include refid="sql_cols"/>)  
             values(<include refid="sql_cols_value"/>)
	</insert>
	
	<!-- 更新列表数据 -->
	<update id="update" parameterType="goodsBean">
		update goods
    		<set>
      			goodsId = #{goodsId},
      			shopId = #{shopId},
      			name = #{name},
      			title = #{title},
      			logo = #{logo},
      			logoThumb = #{logoThumb},
      			imageList = #{imageList},
				thumbList = #{thumbList},
				curPrice = #{curPrice},
				prePrice = #{prePrice},
				tags = #{tags},
				details = #{details},
				sortId = #{sortId},
				stock = #{stock},
				type = #{type},
				status = #{status},
				createTime = #{createTime}
    		</set>
  		where id=#{id}
	</update>
	
	<!-- 删除列表数据 -->
	<delete id="deleteByGoodsId" parameterType="goodsBean">
    	delete from goods where goodsid = #{goodsId};
   	</delete>
</mapper>


