<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="dao.mybatis.CartDao">
	
	<sql id="sql_select">
		select * from cart      
	</sql>
	
	<sql id="sql_cols">
		id,cartId,uid,goodsList,updateTime
	</sql>
	
	<sql id="sql_cols_value">
		#{id},#{cartId},#{uid},#{goodsList},#{updateTime}
	</sql>
	
	<!-- 根据ID加载对应购物车 -->
	<select id="loadById" resultType="cartBean">
		<include refid="sql_select"/> 
			where id = #{id};
	</select>
	
	<!-- 根据购物车ID加载对应购物车 -->
	<select id="loadByCartId" resultType="cartBean">
		<include refid="sql_select"/> 
			where cartid = #{cartId};
	</select>
	
	<!-- 根据用户ID加载对应购物车 -->
	<select id="loadByUid" resultType="cartBean">
		<include refid="sql_select"/> 
			where uid = #{uid};
	</select>
	
	<!-- 查询表的数据总数量 -->
	<select id="count" resultType="int">
		select COUNT(*) from cart;
	</select>
	
	<!-- 插入列表数据 -->
	<insert id="save" parameterType="cartBean">
		insert into cart(<include refid="sql_cols"/>)  
             values(<include refid="sql_cols_value"/>)
	</insert>
	
	<!-- 更新列表数据 -->
	<update id="update" parameterType="cartBean">
		update cart
    		<set>
      			cartId = #{cartId},
      			uid = #{uid},
      			goodsList = #{goodsList},
      			updateTime = #{updateTime}
    		</set>
  		where id=#{id}
	</update>
	
	<!-- 删除列表数据 -->
	<delete id="deleteByCartId" parameterType="cartBean">
    	delete from cart where cartid = #{cartId};
   	</delete>
</mapper>


