<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="dao.mybatis.CollectDao">
	
	<sql id="sql_select">
		select * from collect      
	</sql>
	
	<sql id="sql_cols">
		id,collectId,uid,goodsId,createTime
	</sql>
	
	<sql id="sql_cols_value">
		#{id},#{collectId},#{uid},#{goodsId},#{createTime}
	</sql>
	
	<!-- 根据ID加载对应收藏 -->
	<select id="loadById" resultType="collectBean">
		<include refid="sql_select"/> 
			where id = #{id};
	</select>
	
	<!-- 根据收藏ID加载对应收藏 -->
	<select id="loadByCollectId" resultType="collectBean">
		<include refid="sql_select"/> 
			where collectid = #{collectId};
	</select>
	
	<!-- 根据收藏用户ID和商品ID加载对应收藏 -->
	<select id="loadByUidAndGoodId" resultType="collectBean">
		<include refid="sql_select"/> 
			where uid = #{uid} and goodsId = #{goodsId};
	</select>
	
	<!--  根据收藏用户ID加载对应收藏 -->
	<select id="loadByUid" resultType="collectBean">
		<include refid="sql_select"/> 
			where uid = #{uid}
			order by id desc 
			limit #{index},#{size};
	</select>
	
	<!-- 查询表的数据总数量 -->
	<select id="count" resultType="int">
		select COUNT(*) from collect;
	</select>
	
	<!-- 插入列表数据 -->
	<insert id="save" parameterType="collectBean">
		insert into collect(<include refid="sql_cols"/>)  
             values(<include refid="sql_cols_value"/>)
	</insert>
	
	<!-- 更新列表数据 -->
	<update id="update" parameterType="collectBean">
		update collect
    		<set>
      			collectId = #{collectId},
      			uid = #{uid},
      			goodsId = #{goodsId},
      			createTime = #{createTime}
    		</set>
  		where id=#{id}
	</update>
	
	<!-- 删除列表数据 -->
	<delete id="deleteByCollectId" parameterType="collectBean">
    	delete from collect where collectid = #{collectId};
   	</delete>
</mapper>


