<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="dao.basic.CommunityDao">
	
	<sql id="sql_select">
		select * from community      
	</sql>
	
	<sql id="sql_cols">
		id,communityId,uid,details,imageList,thumbList,createTime
	</sql>
	
	<sql id="sql_cols_value">
		#{id},#{communityId},#{uid},#{details},#{imageList},#{thumbList},#{createTime}
	</sql>
	
	<!-- 根据ID加载对应社区 -->
	<select id="loadById" resultType="communityBean">
		<include refid="sql_select"/> 
			where id = #{id};
	</select>
	
	<!-- 根据社区ID加载对应社区 -->
	<select id="loadByCommunityId" resultType="communityBean">
		<include refid="sql_select"/> 
			where communityid = #{communityId};
	</select>
	
	<!-- 加载所有社区 -->
	<select id="loadAllCommunity" resultType="communityBean">
		<include refid="sql_select"/> 
			order by id desc 
			limit #{index},#{size};
	</select>
	
	<!-- 查询表的数据总数量 -->
	<select id="count" resultType="int">
		select COUNT(*) from community;
	</select>
	
	<!-- 插入列表数据 -->
	<insert id="save" parameterType="communityBean">
		insert into community(<include refid="sql_cols"/>)  
             values(<include refid="sql_cols_value"/>)
	</insert>
	
	<!-- 更新列表数据 -->
	<update id="update" parameterType="communityBean">
		update community
    		<set>
      			communityId = #{communityId},
      			uid = #{name},
      			details = #{details},
      			imageList = #{imageList},
      			thumbList = #{thumbList},
				createTime = #{createTime}
    		</set>
  		where id=#{id}
	</update>
	
	<!-- 删除列表数据 -->
	<delete id="deleteByCommunityId" parameterType="communityBean">
    	delete from community where communityid = #{communityId};
   	</delete>
</mapper>


