<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="dao.mybatis.CommentDao">
	
	<sql id="sql_select">
		select * from comment      
	</sql>
	
	<sql id="sql_cols">
		id,commentId,goodsId,orderId,uid,content,star,createTime
	</sql>
	
	<sql id="sql_cols_value">
		#{id},#{commentId},#{goodsId},#{orderId},#{uid},#{content},#{star},#{createTime}
	</sql>
	
	<!-- 根据ID加载对应评论 -->
	<select id="loadById" resultType="commentBean">
		<include refid="sql_select"/> 
			where id = #{id};
	</select>
	
	<!-- 根据评论ID加载对应评论 -->
	<select id="loadByCommentId" resultType="commentBean">
		<include refid="sql_select"/> 
			where commentid = #{commentId};
	</select>
	
	<!-- 根据商品ID加载对应评论 -->
	<select id="loadByGoodsId" resultType="commentBean">
		<include refid="sql_select"/> 
			where goodsid = #{goodsId}
			order by id desc 
			limit #{index},#{size};
	</select>
	
	<!-- 根据用户ID和商品ID加载对应评论 -->
	<select id="loadByUidAndGoodsId" resultType="commentBean">
		<include refid="sql_select"/> 
			where uid = #{uid} and goodsid = #{goodsId}
			order by id desc 
			limit #{index},#{size};
	</select>
	
	<!-- 加载所有评论 -->
	<select id="loadAllComment" resultType="commentBean">
		<include refid="sql_select"/> 
			order by id desc 
			limit #{index},#{size};
	</select>
	
	<!-- 查询表的数据总数量 -->
	<select id="count" resultType="int">
		select COUNT(*) from comment;
	</select>
	
	<!-- 插入列表数据 -->
	<insert id="save" parameterType="commentBean">
		insert into comment(<include refid="sql_cols"/>)  
             values(<include refid="sql_cols_value"/>)
	</insert>
	
	<!-- 更新列表数据 -->
	<update id="update" parameterType="commentBean">
		update comment
    		<set>
      			commentId = #{commentId},
      			goodsId = #{goodsId},
      			orderId = #{orderId},
      			uid = #{uid},
      			content = #{content},
      			star = #{star},
      			createTime = #{createTime}
    		</set>
  		where id=#{id}
	</update>
	
	<!-- 删除列表数据 -->
	<delete id="deleteByCommentId" parameterType="commentBean">
    	delete from comment where commentid = #{commentId};
   	</delete>
</mapper>


