<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="main.dao.basic.MessageDao">
	
	<sql id="sql_select">
		select * from message      
	</sql>
	
	<sql id="sql_cols">
		id,messageId,uid,title,content,createTime
	</sql>
	
	<sql id="sql_cols_value">
		#{id},#{messageId},#{uid},#{title},#{content},#{createTime}
	</sql>
	
	<!-- 根据ID加载对应消息 -->
	<select id="loadById" resultType="messageBean">
		<include refid="sql_select"/> 
			where id = #{id};
	</select>
	
	<!-- 根据消息ID加载对应消息 -->
	<select id="loadByMessageId" resultType="messageBean">
		<include refid="sql_select"/> 
			where messageid = #{messageId};
	</select>
	
	<!-- 根据消息名字加载对应消息 -->
	<select id="loadByMessagename" resultType="messageBean">
		<include refid="sql_select"/> 
			where name = #{name};
	</select>
	
	<!-- 根据用户ID加载对应消息 -->
	<select id="loadByUid" resultType="messageBean">
		<include refid="sql_select"/> 
			where uid = #{uid}
			order by id desc 
			limit #{index},#{size};
	</select>
	
	<!-- 加载所有消息 -->
	<select id="loadAllMessage" resultType="messageBean">
		<include refid="sql_select"/> 
			order by id desc 
			limit #{index},#{size};
	</select>
	
	<!-- 查询表的数据总数量 -->
	<select id="count" resultType="int">
		select COUNT(*) from message;
	</select>
	
	<!-- 插入列表数据 -->
	<insert id="save" parameterType="messageBean">
		insert into message(<include refid="sql_cols"/>)  
             values(<include refid="sql_cols_value"/>)
	</insert>
	
	<!-- 更新列表数据 -->
	<update id="update" parameterType="messageBean">
		update message
    		<set>
      			messageId = #{messageId},
      			uid = #{uid},
      			title = #{title},
      			content = #{content},
				createTime = #{createTime}
    		</set>
  		where id=#{id}
	</update>
	
	<!-- 删除列表数据 -->
	<delete id="deleteByMessageId" parameterType="messageBean">
    	delete from message where messageid = #{messageId};
   	</delete>
</mapper>


